html{
    background: url(https://cdn.discordapp.com/attachments/975669869569794099/983698271765692456/unknown.png);
    background-size: cover;
    background-attachment:fixed;
}
*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    max-width: 100%;
    max-height: 100vh;
    
}

header{
    background-color: gray;
    width: 95%;
    height: 10vh;
    display: flex;
    align-items: center;
    gap: 35%;
    padding: 0% 2.5% 0% 2.5%;
    border-bottom: 5px solid black;
}

nav{
    text-align: center;
}

.search {
    width: 22%;
    display: flex;

}
  
.searchTerm {
    width: 100%;
    border: 3px solid #000;
    border-right: none;
    
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #fff;
}
  
.searchTerm:focus{
    color: #000;
}
  
.searchButton {
    width: 10%;
    
    border: 1px solid #000;
    background: #000;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 10px;
}

#container{
    width:35%;
    height: 3vh;
    margin:0 auto;
    margin-top:10%;
}

#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}


form {
    border-radius: 20px;
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #6495ED;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: white;
    color: #6495ED;
    border: 1px solid #6495ED;
}
.button{
    text-align: center;
    margin-left: 50%;

    
}
